 [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak {
      display: none !important;
    }
    
    .controls {
      left: 150px;
      top: 10px !important;
      position: absolute;
      z-index: 1000;
      border: 1px solid transparent;
      border-radius: 2px 0 0 2px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      height: 32px;
      outline: none;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }
    
    #pac-input {
      background-color: #fff;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      margin-left: 12px;
      padding: 0 11px 0 13px;
      text-overflow: ellipsis;
      width: 300px;
    }
    
    #pac-input:focus {
      border-color: #4d90fe;
    }
    
    .md-fab.md-primary.md-mini {
      left: 20px;
      top: 70px !important;
      position: absolute;
    }
    .md-raised.md-primary.md-hue-2
     {
      right: 2px !important;
      top: 5px !important;
      position: absolute;
      min-width: 50px;
      width: 50px;
    }
    
    md-list-item .md-list-item-inner>md-icon:first-child:not(.md-avatar-icon),
    md-list-item>md-icon:first-child:not(.md-avatar-icon) {
      margin-right: 14px;
    }
    
    .sidebar-right {
       
       transition-timing-function: ease-in;
      -webkit-transition: width 0.5s;
      /* Safari */
      transition: width 0.5s;
    }
    
    .sidebar-right.active {
      width: 60px;
    }